<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.hh{
			color:red;
		}

		.hhh{
			color: orange;
			font-family: Arial,Helverica,sans-serif;
		}
		.h{
			color:blue;
			font-family: impact,charcoal,sans-serif;
		}
		.fa{
			border:groove 10px;
		color:#ff69b4;
		}
	</style>
	<title></title>
</head>
<div class="fa">
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/shining-heart-shapes-loopable-love-background_vywvxljzl__F0000.png">
	<br><br><br><br><br><br>
<<center><h1 class="hh"> HA HA HA HA !!!! This is Fake !!!!1</h1></center><br><br><br><br>
<center><h1 class="hhh"> LOVE YOUR PARENTS NOT BF/GF</h1><br><br><br><br>
<center><h1 class="h">your details store in my DataBase (<.:.>)hahah</h1></center><br><br><br><br>
</div>


</body>
</html>